<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<app-add-school-form *ngIf="!isEditing" [schools]="schools"></app-add-school-form>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current schools ({{schools.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Number Of Students</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="schools.length === 0">
        <tr>
          <td colspan="4">There are no schools in the DB. Add a new school below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let school of schools">
          <td>{{school.name}}</td>
          <td>{{school.address}}</td>
          <td>{{school.numberOfStudents}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(school)">
              <i class="fa fa-pencil"></i> Edit
            </button> 
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteSchool(school)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editSchool(school)">
              <input class="form-control mr-2" type="text" name="name"
                     [(ngModel)]="school.name" placeholder="Name" required>
              <input class="form-control mr-2" type="text" name="address"
                     [(ngModel)]="school.address" placeholder="address" required>
              <input class="form-control mr-2" type="number" name="numberOfStudents"
                     [(ngModel)]="school.numberOfStudents" placeholder="Number Of Students" step="any" min="0" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


