<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-4 mt-4">
  <div class="card-header container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h4>SCHOOLS ({{schools.length}})</h4>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by Name or Address" name="search"
            [(ngModel)]="filter">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="filterSchools()"><i
                class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-outline-secondary" (click)="enableAdding()">
          <i class="fa fa-plus"></i> Add New
        </button>
      </div>
    </div>
  </div>
  <div class="card-body school-list">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Number Of Students</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="schools.length === 0">
        <tr>
          <td colspan="4">No data found. Click "Add New" to insert school</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let school of schools">
          <td>{{school.name}}</td>
          <td>{{school.address.street}} ,{{school.address.suburb}} ,{{school.address.postcode}}
            ,{{school.address.state}}
          </td>
          <td>{{school.numberOfStudents}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary" (click)="enableEditing(school)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-sm btn-outline-danger ml-1" (click)="deleteSchool(school)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-school-form [showModal]="isEditing || isAdding" [isEditing]="isEditing" [schools]="schools" [school]="school"
  (onCancel)="cancelEditing()"></app-add-school-form>